<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
    <header>
        <nav class="nav">
            <h1>BOOK App</h1>
            <ul class="ul">
                <li><a href="/"> Home</a></li>
                <li><a href="/searches/new">Search Book</a></li>
            </ul>
        </nav>
      </header>
      <main> 
      <div class=data>
      <div class =data1>
          <img src="<%= book.img %>">
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <p><%= book.description %></p>
          <p>ISBN:<%= book.isbn  %></p>
          <form action="/deleteBook/<%= book.id %>?_method=delete" method='POST'>
            <button  id="add">Delete Book</button>
        </form>
        
        <%- include('edit')-%>
    </div>
    </div>
</main>
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>