<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <title>BOOK APP</title>
</head>
<body>
    <header>
        <nav class="nav">
            <h1>BOOK App</h1>
            <ul class="ul">
                <li><a href="/"> Home</a></li>
                <li><a href="/searches/new">Search Book</a></li>
            </ul>
        </nav>
      </header>
    <main>
    <a href="/searches/new"><input type="button"  value="Search the Google Book API" class=API></a>
    <p class=total>
        Total Books: <%= book.length %>
    </p>

    <div class=data>
        <%  book.forEach(book=>{ %>
            <div class =data1>
                <img src=<%= book.img %>>
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>

               <div>  <a  id="add" href="/bookDetails/<%= book.id %>">View Details</a> </div> 
            </div>
        <% }) %>
    
    </div>

    </main>
    <footer>
        <p> &copy All rights reserved NIVEEN 2021</p>
    </footer>
</body>
</html>